services:
  nginx:
    image: openresty/openresty:1.13.6.2-stretch-fat
    labels:
      - "ops.project=ops"
      - "traefik.enable=true"
      - "traefik.docker.network=ops_gateway"
      - "disabled-traefik.http.routers.ops-nginx.rule=HostRegexp(`{subdomain:.+}.${OPS_DOMAIN}`,`localhost`,`{domain:.+}`)"
      - "traefik.http.routers.ops-nginx.rule=HostRegexp(`.+.${OPS_DOMAIN}`) || Host(`localhost`) || HostRegexp(`.+`)"
      - "traefik.http.routers.ops-nginx.entrypoints=web,websecure"
      - "traefik.http.routers.ops-nginx.priority=1"
      - "traefik.http.routers.ops-nginx.tls=true"
      - "traefik.http.routers.ops-nginx.service=ops-nginx"
      - "traefik.http.services.ops-nginx.loadbalancer.server.port=80"
    environment:
      - OPS_DOMAIN=${OPS_DOMAIN}
      - OPS_DOMAIN_ALIASES=${OPS_DOMAIN_ALIASES}
      - OPS_ENABLED=1
      - OPS_SITES_DIR=${OPS_SITES_DIR}
      - OPS_VERSION=${OPS_VERSION}
      - OPS_DEFAULT_BACKEND=${OPS_DEFAULT_BACKEND}
      - OPS_DEFAULT_DOCROOT=${OPS_DEFAULT_DOCROOT}
    networks:
      - gateway
      - backend
    volumes:
      - ${OPS_HOME}/nginx/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
      - ${OPS_HOME}/nginx/errors:/var/www/errors
      - ${OPS_SITES_DIR}:/var/www/html:cached

  traefik:
    image: traefik:v3.6.2
    command:
      - --configFile=/etc/traefik/traefik.toml
      - --providers.docker.defaultRule=Host(`{{ normalize .Name }}.ops.${OPS_DOMAIN}`)
    networks:
      gateway:
      services:
        ipv4_address: $OPS_SERVICES_TRAEFIK_IP
    userns_mode: 'host'
    labels:
      - "ops.project=ops"
      - "traefik.enable=true"
      - "traefik.docker.network=ops_gateway"
      - "traefik.http.routers.traefik.rule=Host(`ops.${OPS_DOMAIN}`)"
      - "traefik.http.routers.traefik.entrypoints=traefik"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.service=api@internal"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${OPS_HOME}/traefik/traefik.dev.toml:/etc/traefik/traefik.toml
      - ${OPS_HOME}/traefik/tls.dev.toml:/etc/traefik/dynamic/tls.dev.toml
      - ${OPS_HOME}/certs/:/etc/traefik-certs
      - ${OPS_HOME}/traefik/acme.json:/etc/traefik/acme/acme.json

  dnsmasq:
    image: jpillora/dnsmasq:1.1.0
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=ops_gateway"
      - "traefik.http.routers.dnsmasq.rule=Host(`dnsmasq.ops.${OPS_DOMAIN}`)"
      - "traefik.http.routers.dnsmasq.entrypoints=web,websecure"
      - "traefik.http.routers.dnsmasq.tls=true"
      - "traefik.http.routers.dnsmasq.service=dnsmasq"
      - "traefik.http.services.dnsmasq.loadbalancer.server.port=8080"
      - "${OPS_ADMIN_AUTH_LABEL_PREFIX}traefik.http.middlewares.dnsmasq-auth.basicauth.users=${OPS_ADMIN_AUTH}"
      - "${OPS_ADMIN_AUTH_LABEL_PREFIX}traefik.http.routers.dnsmasq.middlewares=dnsmasq-auth"
    networks:
      gateway:
      backend:
      services:
        ipv4_address: $OPS_SERVICES_DNS_IP
    volumes:
      - ${OPS_HOME}/dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf

networks:
  gateway:
    name: ops_gateway
    external: true
  backend:
    name: ops_backend
    external: true
  services:
    name: ops_services
    external: true

volumes:
  minio:
  portainer:
  postgres:
  postgres16:
  postgres13:
  mariadb:
