services:
  traefik:
    command:
      - --configFile=/etc/traefik/traefik.toml
      - --providers.docker.defaultRule=Host(`{{ normalize .Name }}.ops.${OPS_DOMAIN}`)
      - --log.level=DEBUG
      - --entrypoints.websecure.http.tls.certresolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains[0].main=${OPS_DOMAIN}
      - --entrypoints.websecure.http.tls.domains[0].sans=*.${OPS_DOMAIN}
      - --entrypoints.websecure.http.tls.domains[1].main=ops.${OPS_DOMAIN}
      - --entrypoints.websecure.http.tls.domains[1].sans=*.ops.${OPS_DOMAIN}
      - --entrypoints.traefik.http.tls.certresolver=letsencrypt
      - --certificatesresolvers.letsencrypt.acme.email=${OPS_ACME_EMAIL}
      - --certificatesresolvers.letsencrypt.acme.storage=/etc/traefik/acme/acme.json
      - --certificatesresolvers.letsencrypt.acme.caServer=${OPS_ACME_CA_SERVER}
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=${OPS_ACME_DNS_PROVIDER}
    env_file:
      - "${OPS_HOME}/config.literal"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${OPS_HOME}/traefik/traefik.toml:/etc/traefik/traefik.toml
