services:
  chrome:
    image: robcherry/docker-chromedriver
    networks:
      - services
    environment:
      CHROMEDRIVER_WHITELISTED_IPS: ""
      CHROMEDRIVER_PORT: "9515"
    dns: $OPS_SERVICES_DNS_IP
    shm_size: '2gb'
    cap_add:
       - "SYS_ADMIN"
