services:
    nginx:
      image: openresty/openresty:1.13.6.2-stretch-fat
      labels:
        - "ops.project=ops"
        - "traefik.enable=true"
        - "traefik.docker.network=ops_gateway"
        - "traefik.http.routers.ops-nginx.rule=Host(`imarc.imarc.io`)"
        - "traefik.http.routers.ops-nginx.entrypoints=web,websecure"
        - "traefik.http.routers.ops-nginx.priority=1"
        - "traefik.http.routers.ops-nginx.tls=true"
        - "traefik.http.routers.ops-nginx.service=ops-nginx"
        - "traefik.http.services.ops-nginx.loadbalancer.server.port=80"
      environment:
        - OPS_DOMAIN=${OPS_DOMAIN}
        - OPS_ENABLED=1
        - OPS_SITES_DIR=${OPS_SITES_DIR}
        - OPS_VERSION=${OPS_VERSION}
        - OPS_DEFAULT_BACKEND=${OPS_DEFAULT_BACKEND}
        - OPS_DEFAULT_DOCROOT=${OPS_DEFAULT_DOCROOT}
      networks:
        - gateway
        - backend
      volumes:
        - ${OPS_HOME}/nginx/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
        - ${OPS_HOME}/nginx/errors:/var/www/errors
        - ${OPS_SITES_DIR}:/var/www/html:cached
