services:
  redis-commander:
    image: "ghcr.io/joeferner/redis-commander:latest"
    networks:
      - backend
      - gateway
    environment:
      REDIS_HOST: redis
    labels:
      - "ops.project=ops"
      - "traefik.enable=true"
      - "traefik.docker.network=ops_gateway"
      - "traefik.http.routers.redis-commander.rule=Host(`redis-commander.ops.${OPS_DOMAIN}`)"
      - "traefik.http.routers.redis-commander.entrypoints=web,websecure"
      - "traefik.http.routers.redis-commander.tls=true"
      - "traefik.http.routers.redis-commander.service=redis-commander"
      - "traefik.http.services.redis-commander.loadbalancer.server.port=8081"
      - "${OPS_ADMIN_AUTH_LABEL_PREFIX}traefik.http.middlewares.redis-commander-auth.basicauth.users=${OPS_ADMIN_AUTH}"
      - "${OPS_ADMIN_AUTH_LABEL_PREFIX}traefik.http.routers.redis-commander.middlewares=redis-commander-auth"
