version: '3'

services:
  redis-commander:
    image: "ghcr.io/joeferner/redis-commander:latest"
    networks:
      - backend
      - gateway
    environment:
      REDIS_HOST: redis
    labels:
      - "ops.project=ops"
      - "traefik.enable=true"
      - "traefik.docker.network=ops_gateway"
      - "traefik.port=8081"
      - "${OPS_ADMIN_AUTH_LABEL_PREFIX}traefik.frontend.auth.basic.users=${OPS_ADMIN_AUTH}"
