[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = Country Name (2 letter code)
countryName_default = US
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = Ops Local Development
localityName = Locality Name (eg, city)
localityName_default = Ops Local Development
organizationalUnitName = Organizational Unit Name (eg, section)
organizationalUnitName_default = Ops Local Development
commonName = Common Name
commonName_default = ops-local-dev

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = OPS_DOMAIN
DNS.2 = *.OPS_DOMAIN
DNS.3 = *.ops.OPS_DOMAIN
DNS.8 = localhost
